body {
    background-color: #EBEBEB;
    margin: 0;
    padding: 0;
}

.navbar{
    border-bottom: 8px solid #033962;
}

#prev-search {
    position: relative;
    padding-top: 3em;
    scroll-margin-top: 5em;
    min-height: 60vh;
}

#main-header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #004e89;
    z-index: 3000; 
}

.navbar-burger {
    color: white !important;
    background-color: rgba(255, 255, 255, 0);
}

#navMenu .navbar-item:hover {
    background-color: rgba(255, 255, 255, 0);
    text-decoration: underline;
}

#stops {
    position: relative;
    top: -95vh;
    left: 80%;
    z-index: 2;
    width: 200px;
}

#progressBar{
    display: none;
}

.blueLight {
    background-color: #85AAB7;
}

.blueDark {
    background-color: #1A659E;
}

.blueDarkest {
    background-color: #004E89;
}

#mainMap {
    border-radius: 5px;
    width: 100%;
    min-height: 45vh;
}

#locationsOrdered {
    overflow-y: auto;
    min-height: 45vh;
}
.numberContainer{
    position: relative;
    bottom: 15px;
}

.locationBox{
    width: 400px;
}
.navButton{
    background-color: #990000;
    border-radius: 100%;
    position: relative;
    bottom: -40%;
}

.navButton:hover{
    background-color: #ae1a07;
}

.delete:hover {
    background-color: red;
}

#autocomplete-container{
    position: relative;
}

#removePrevious{
    display: none;
}

#prevSearchLi:hover > button {
    display: block;
}

.selected-items-container {
    padding-top: 20px;
}

.hero {
    position: relative;
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../Images/manyCrows.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(60%);
}

.hero-content {
    position: relative;
    color: white;
    text-align: center;
    margin: 1.5em 1em 0.5em 1em;
}

.hero-title {
    font-size: 2.5em;
    font-weight: 600;
    margin-bottom: 0;
}

.hero-subtitle {
    font-size: 1.5em;
    font-weight: 200;
    margin-top: 1rem;
}

#arrow-double {
    position: relative;
    bottom: -5rem;
    cursor: pointer;  
}

footer{
    border-top: 8px solid #033962;
    padding-top: 20px;
}

@media screen and (max-width: 1400px) {
    .locationBox{
        width: 340px;
    }
}

@media screen and (max-width: 1214px) {
    .locationBox {
        width: 240px;
    }
}

@media screen and (max-width: 950px) {
    .locationBox {
        width: 200px;
    }
}

@media screen and (max-width: 761px) {
    .locationBox {
        width: 500px;
    }
}
@media screen and (max-width: 660px) {
    .locationBox {
        width: 400px;
    }
}
@media screen and (max-width: 550px) {
    .locationBox {
        width: 300px;
    }
}
@media screen and (max-width: 470px) {
    .locationBox {
        width: 200px;
    }
}