body {
    background-color: #EBEBEB;
    margin: 0;
    padding: 0;
}

#prev-search {
    position: relative;
    padding-top: 3em;
    scroll-margin-top: 5em;
    min-height: 100vh;
}

#main-header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #004e89;
    z-index: 3000; 
}

.navbar-burger {
    color: white !important;
    background-color: rgba(255, 255, 255, 0);
}

#navMenu .navbar-item:hover {
    background-color: rgba(255, 255, 255, 0);
    text-decoration: underline;
}

#stops {
    position: relative;
    top: -95vh;
    left: 80%;
    z-index: 2;
    width: 200px;
}

#progressBar{
    display: none;
}

#mainMap {
    height: 50vh;
    width: 100%;
}

.orangeDark {
    background-color: #FF6B35;
}

.orangeLight {
    background-color: #FB966A;
}

.orangeLightest {
    background-color: #F7C59F;
}

.blueLight {
    background-color: #85AAB7;
}

.blueDark {
    background-color: #1A659E;
}

.blueDarkest {
    background-color: #004E89;
}

#map {
    height: 400px;
    width: 400px;
    border: 6px solid #1A659E;
    margin-left: 100px;
    margin-right: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px;
}

#mainMap {
    border-radius: 5px;
}

.delete:hover {
    background-color: red;
}

#autocomplete-container{
    position: relative;
}

/* Adjust padding for list items */
/* ol {
    list-style-position: inside;
    padding-top: 5px;
} */

#removePrevious{
    display: none;
}

#prevSearchLi:hover > button{
    display: block;
}

.selected-items-container {
    padding-top: 20px;
}

