
body{
    height: 100vh;
    background-color: #EFEFD0;
}

#map{
    height: 400px;
    width: 400px;
    border: 6px solid #1A659E;
    margin-left: 100px;
    margin-right: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px;
}

.notification {
    background-color: #F7C59F
}

#removePrevious{
    display: none;
}

#prevSearchLi:hover > button{
    display: block;
}

.selected-items-container {
    padding-top: 20px;
}